# Dictionaries

In [1]:
# A dictionary in python is similar to a structure in matlab

D = dict()
D

{}

In [2]:
%whos

Variable   Type    Data/Info
----------------------------
D          dict    n=0

In [3]:
# [] --> indicates List
# {} --> indicates Dictionaries
# () --> indicates tuples, methods, functions etc.

In [4]:
# Key/ value pair
D['name'] = 'Sunny'
D['AgeRange'] = [15, 30]

In [5]:
D

{'name': 'Sunny', 'AgeRange': [15, 30]}

In [6]:
E = {'name': 'Sunny', 'AgeRange': [15, 30]}

In [7]:
E

{'name': 'Sunny', 'AgeRange': [15, 30]}

In [8]:
D['name']

'Sunny'

In [9]:
# Dynamically consider all keys 
D.keys()

dict_keys(['name', 'AgeRange'])

In [11]:
'name' in D.keys()
'name1' in D.keys()

False

In [13]:
'Name' in D.keys()
# Not case sensitive

False

In [14]:
'name' in D
# This is similar to writing D.keys()

True

In [15]:
# To consider all the values in the dictionary
D.values()

dict_values(['Sunny', [15, 30]])

In [16]:
D.items()

dict_items([('name', 'Sunny'), ('AgeRange', [15, 30])])

In [18]:
D = {}
a = float(input("Enter a"))
b = float(input("Enter b"))

D['fNum'] = a
D['sNum'] = b
D['prod'] = D['fNum'] * D['sNum']

D

{'fNum': 3.0, 'sNum': 4.0, 'prod': 12.0}